@{
    ViewBag.Title = "SignIn";
}

@Styles.Render("~/Content/login/css")
<div class="container">
    <div class="myform">
        <form class="form-signin">

            <h2 class="form-signin-heading">Please sign in or <a href="/">Join us</a></h2>
            <div class="form-group">
                <input name="email" class="form-control input-lg" placeholder="Email" />
             </div>
            <div class="form-group">
                <input name="password" class="form-control input-lg" placeholder="Email" />               
            </div>
            <div class="checkbox">
                <label>          
                    <input type="checkbox" class="checkbox-primary" aria-label="Checkbox for following text input">Remember Me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            @Html.ValidationMessage("credentials")

        </form>
    </div>
</div>
